.d-flex {
  display: flex;
  align-items: baseline;
}

.mr-10 {
  margin-right: 10px;
}

.radio-lbl {
  font-size: 22px;
  font-weight: 400;
  text-align: right;
  width: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}
